#include "resource.h"

IDD_MAIN_DIALOG DIALOGEX 0, 0, 200, 120
STYLE DS_SETFONT | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Quiz Game"
FONT 8, "MS Shell Dlg"
BEGIN
    PUSHBUTTON "Roll Dice"
IDC_BUTTON_ROLL, 50, 50, 80, 20
END